body {
    background-color: #fff;
    color: #555;
    font-size: 16px;
    text-align: center;
}
#logo {
    text-align: center;
    color: #0057b8;
    font-size: 56px;
    padding-top: 50px;
    font-weight: bold;
}

#main-content {
    width: 800px;
    margin: 20px auto 0 auto;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 16px;
    background-color: #FFF;
    text-align: justify;
}