<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p>&nbsp;Jeigu jūs  užpildėte visus tris asmeninio profilio klausimynus ir susinstaliavote TNS Papildinį ir (arba) mobilias TNS TOP, TNS Browser programėles bei jomis naudojotės bent kartą per savaitę tuomet:</p>
<ul>
    <li>Už kiekvieną teisingai užpildytą profilio klausimyną skiriame 100 ta&scaron;kų (Viso 3x100 ta&scaron;kų).</li>
    <li>Už TNS Papildinio laikymą ir naudojimą nar&scaron;yklėje pirmąjį mėn. skiriame 200 ta&scaron;kų. Už antrąjį ir kiekvieną sekantį mėnesį 300 ta&scaron;kų.</li>
    <li>Už TNS TOP laikymą ir naudojimą i&scaron;maniąjame telefone pirmąjį mėn. skiriame 100 ta&scaron;kų. Už antrąjį ir kiekvieną sekantį mėnesį 150 ta&scaron;kų.</li>
    <li>Už TNS Browser laikymą ir naudojimą i&scaron;maniąjame telefone pirmąjį mėn. skiriame 100 ta&scaron;kų. Už antrąjį ir kiekvieną sekantį mėnesį 150 ta&scaron;kų.</li>
    <li>Už dalyvavimą nepertraukiamai 6 mėnesius, kai užpildytas profilio klausimynas ir įdiegtos bei naudojamos TNS TOP, TNS Browser programėlės, skiriame 1000 lojalumo ta&scaron;kų.</li>
</ul>
<p>&nbsp;Kiekvieną mėnesį mes Jus informuosime apie sukauptą ta&scaron;kų sumą.</p>
<table class="motivation_table" border="1" cellpadding="5" cellspacing="1">

    <tr>
        <th>Dovana</th>
        <th>Pavadinimas</th>
        <th>Reikai tašku</th>
    </tr>

    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/_maxima.png" alt=""></td>
        <td align="center">5 eurų vertės  Maximos dovanų čekis</td>
        <td align="right">2000</td>
    </tr>
    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/_maxima.png" alt=""></td>
        <td align="center">10 eurų vertės  Maximos dovanų čekis</td>
        <td align="right">4000</td>
    </tr>

    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/forum.jpg" alt=""></td>
        <td align="center">1 kino bilietas "Forum Cinemas" visoje Lietuvoje</td>
        <td align="right">2800</td>
    </tr>
    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/forum.jpg" alt=""></td>
        <td align="center">2 kino bilietai "Forum Cinemas" visoje Lietuvoje</td>
        <td align="right">5600</td>
    </tr>

    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/gera.jpg" alt=""></td>
        <td align="center">5 eurų vertės  Geradovana.lt dovanų čekis</td>
        <td align="right">2000</td>
    </tr>
    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/gera.jpg" alt=""></td>
        <td align="center">10 eurų vertės  Geradovana.lt dovanų čekis</td>
        <td align="right">4000</td>
    </tr>

    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/aukok.png" alt=""></td>
        <td align="center">5 eurų auka pasirinktam  Aukok.lt projektui</td>
        <td align="right">2000</td>
    </tr>
    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/aukok.png" alt=""></td>
        <td align="center">10 eurų auka pasirinktam Aukok.lt projektui</td>
        <td align="right">4000</td>
    </tr>

    <tr>
        <td align="center"><img src="https://www.panel.kantartns.lt/img/dovanos/pigu.jpg" alt=""></td>
        <td align="center">15 eurų vertės  Pigu.lt el. čekis</td>
        <td align="right">6000</td>
    </tr>

    <tr>
        <td colspan="3"><%show_points_in_row%></td>
    </tr>

</table>

<p>Atkreipkite dėmesį, ar Jūsų turimų atlygio taškų pakanka, kad galėtumėte užsisakyti norimą dovaną. Dovanai atsiimti reikalingas taškų skaičius yra nurodytas šalia kiekvieno dovanų varianto.</p>



</body>
</html>